<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forms</title>
</head>
<body>
<hr>
<fieldset>
  <legend>Login credentials</legend>
  <label for="name">Name</label>
  <input type="text" name="text" id="name" placeholder="Enter your name">
  <br><br>
  <label for="Password">Password</label>
  <input type="password" name="password" id="password" placeholder="Enter password">
  <br><br>
  <label for="stay logged in">Remember Me</label>
  <input type="checkbox" name="stay logged in" id="stay logged in">
  <br><br><br>
</fieldset>
<form>

  <input type="submit" value="submit">

</form>
<br>
<label>Or sign in with</label>
<br><br>
<input type="radio" name="Google" id="Google">
<label for="Google">Google</label>
<br><br>
<input type="radio" name="linkedin" id="linkedin">
<label for="linkedin">linkedin</label>
</body>
</html>
